<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django - Mysql</title>
</head>
<style>
    body {
        background-color: bisque;
        color: black;
        font: normal 16pt Times;
    }
</style>

<body>
    <!-- <h3>Questions:</h3> -->
    {% if latest_question_list %}
    <ul>
        {% for question in latest_question_list %}
        <li>
            <!-- <a href="{% url 'polls:detail' question.id %}">{{question.question_text}}</a> -->
            <!-- Para url reconhecer polls:detail -->
            <!-- <a href="{% url 'detail' question.id %}">{{question.question_text}}</a> -->
            <!-- Trocou  caminho por url aponta para view -->
            <a href="/polls/{{question.id}}/">{{question.question_text}}</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No polls are available</p>
    {% endif %}
</body>

</html>